@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Dosis', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08); 
    text-transform: capitalize;
}

.container{
    height:100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pict/logo.jpg);
    background-position: center;
    position: absolute;
    background-size: cover;
    padding: 0;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#fff;
    padding: 5px;
    overflow: hidden; /*Hide the second form*/
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.headbtn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, grey, lightgrey);
    border-radius: 30px;
    transition: .5s;
}

#socialMedia{
    margin: 30px auto;
    text-align: center;
}

#socialMedia img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 white;
    border-radius: 50%;
}

.uInput{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.inputField{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    text-align: center;
}

.submitBtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display:block;
    margin: auto;
    background: linear-gradient(to right, grey, lightgrey);
    border: 0;
    outline: none;
    border-radius: 50px;

}

.checkbox{
    margin: 30px 10px 30px 0;
    cursor: pointer;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#uLogin{
    left: 50px;
}
#uSignup{
    left: 450px;
}

a{
    text-decoration: none;
}